c {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 248, 243);
}

.nav-logo {
    font-size: 21px;
    margin-top: 38px;
}

.color-r {
    color: rgb(253, 110, 10);
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 51px;
}

.nav-menu li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: 30px;
}

.hire-btn {
    background-color: rgb(253, 110, 10);
    padding: 8px;
    color: white;
    border-radius: 5px;
    border: none;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 248, 243);
    padding: 50px 0px;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner-text {
    margin-left: 240px;
}

.banner-text h3 {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 600;
}

.banner-text h1 {
    margin: 10px 0px;
    font-size: 45px;
}

.banner-text p {
    color: rgb(24, 24, 24);
    font-weight: 600;
    width: 600px;
    margin-bottom: 25px;
}

.banner-image img {
    height: 480px;
}

.about-me-container {
    margin-top: 70px;
}

.main-container {
    width: 850px;
    height: 500px;
    background-color: rgb(255, 248, 243);
    margin: auto;
}

.about-text h1 {
    text-align: center;
    padding: 35px;
}

.about-text p {
    color: rgb(117, 117, 117);
    font-weight: 400;
    text-align: center;
    padding: 34px;
    font-size: 15px;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.about-info1 {
    padding: 15px;
}

.about-info1 p {
    color: rgb(117, 117, 117);
    font-weight: 400;
}



.my-description h1 {
    font-size: 50px;
    text-align: center;
    margin: 75px 0px 30px;
}

.my-description p {
    color: rgb(117, 117, 117);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    width: 80%;
    margin: auto auto 65px;
}

.my-services-container {
    padding: 20px;
}

.my-service-all-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1060px;
    margin: auto;
}

.single-card {
    width: 267px;
    height: 290px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 50px;
    margin-right: 24px;
}

.downlode-cv-btn {
    border: none;
    padding: 13px 17px;
    margin-right: 30px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
}

.contact-btn {
    padding: 11px 31px;
    margin-right: 30px;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    font-size: 14px;
    background-color: #FFF8F3;
    ;
}

.single-card img {
    width: 42px;
}

.single-card h3 {
    font: 17px;
}

.single-card p {
    color: rgb(117, 117, 117);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

/* what i do end  */
.summary-title {
    text-align: center;
    margin: 30px 0px;
    font-size: 35px;
}

.all-summary-container {

    width: 80%;

    margin: auto;
}

.single-summary {

    display: flex;

    justify-content: space-around;

    align-items: center;

    padding: 13px;

    gap: 167px;
}

/* .left-summary-content {}

.summary-title1 {} */

.summary-sub {

    font-size: 18px;
}

.summary-h4 {

    font-size: 14px;
}

.summary-desc {
    color: rgb(117, 117, 117);
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.downlode-cv-btn1 {
    border: none;
    padding: 13px 17px;
    margin-right: 30px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;

}

.btn-cv {
    text-align: center;
    margin-top: 25px;
}

/* main section end  */
.all-footer {
    background: #FFF8F3;
    margin-top: 85px;
}

.main-footer-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-top: 70px;
}

.left-side-text {
    width: 520px;
}



.left-side-text p {
    color: rgb(117, 117, 117);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}


#name {
    border: none;
    padding: 8px;
    margin-bottom: 21px;
}

#email {
    border: none;
    padding: 8px;
    margin-bottom: 21px;
}

#comment {
    margin-bottom: 18px;
}

/* responsive section  */

@media screen and (max-width:576px) {
    /* .about-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

    .my-service-all-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        flex-direction: column;
    }

    .single-card {
        margin-top: 6px;
    }

    .single-summary {
        gap: 30px;
        flex-direction: column;
    }

    .main-footer-container {
        flex-direction: column;
    }

    .main-container {
        width: 100vw;
        height: 820px;
    }

    .about-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        height: 300px;
        flex-direction: column;
    }

    .banner-container {
        background-image: none;
        flex-direction: column;
    }

    .banner-image img {
        height: 400px;
        margin-top: 40px;
    }
    .nav-container{
        flex-direction: column;
    }

    .banner-text{
        margin-left: 0;
    }
    .banner-text p{
        width: 100%;
        padding: 10px;
    }
    .left-side-text p{
        width: 275px;
    }
}